.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    height: 100px;
    width: 100%;
}
.footer-score-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    height: 80px;
    width: 80px;
    background-color: lightgray;
    border-radius: 50%;
}
